.intro{
    width: 75%;
}
.sel-works{
    text-align: center;
}
.img-1{
    height: 250px;
    width: 250px;
}
.img-2{
    height: 250px;
    width: 250px;
}
.img-3{
    height: 250px;
    width: 250px;
}