th {
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}
table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
td {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
td {
    padding: 10px;
}
table {
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.img1 {
    height: 2in;
    width: 2in;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}
.img2 {
    height: 2in;
    width: 2in;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}
.img3 {
    height: 2in;
    width: 2in;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}
.randomtext {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 25px;
}
.home:hover {
    color: red;
}
.about:visited {
    color:gray
}
.list:active {
    color:orange
}