header {
    background-color: #cc5500;
    padding: 30px;
    text-align: left;
    letter-spacing: 20px;
    font-size: 35px;
    color: white;
}
h3 {
    width: auto;
    text-align: left;
    margin-left: 10px;
}
th {
    font-size: larger;
}